@font-face {
  font-family: "Duper";
  src: url("https://cdn.primoza.de/files/Duper-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Duper-Bold";
  src: url("https://cdn.primoza.de/files/Duper-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "primozaIsMessy";
  src: url("https://cdn.primoza.de/files/primozaIsMessy.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

#main-outlet-wrapper {
    transition: filter 0.4s ease-out;
    }

.composer-open {
    #main-outlet-wrapper {
    filter: opacity(65%);
    
    }
}

.btn, .select-kit-header, input[type="text"] {
    border-radius: 2rem;
    border: none;
    border-left: 0;
}

.topic-map .buttons .btn {
    border: none;
}

.select-kit.combo-box .select-kit-header {
    border: 0;
}

.admin-main-nav, .cooked, .group-box {
    background-color: rgba(251, 250, 248, 0.95);
}

.custom-featured-topics-wrapper .topic-list .views, .custom-featured-topics-wrapper .topic-list .posts {
    display:none;
} 

.d-header #site-logo {
    height: 2.5em;
    transition: height 0.6s ease;
}


 body.navigation-categories .d-header-wrap, html.desktop-view body.static-login .d-header-wrap {
    position: fixed;
    left: 0;
    right: 0;
}

 body.navigation-categories .d-header {
    padding: 2em 0;
    height: auto;
    background: none;
    box-shadow: none;
    border-bottom: transparent;
    transition: padding 0.6s ease, background 0.6s ease, border-bottom 2s;
    #site-logo {
    height: 4em;
    }
}


 body.navigation-categories.header-fixed .d-header {

    backdrop-filter: blur(4px);
    padding: 10px 0;
    height: auto;
    background-color: rgba(251, 250, 248, 0.95) ;
    #site-logo {
    height: 2.5em;
    }
}
        

.topic-list .posters {display: none}

body {
    background-color: rgba(249, 217, 115, 1);
}

.category-boxes .category-box {
    background-color: #fbf9f8;
    border-radius: 10px;
}

.category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
    border-width: 0;
}

.d-header .d-header-icons .d-icon {
    color: var(--header_primary);
    font-size: var(--font-0);
}

.user-content-wrapper .user-content {
padding: 2rem;
background-color: transparent;
}

.boxed.white {
    padding: 2em;
}

.alert.alert-info.alert-too-few-topics, .alert.alert-info.alert-bootstrap-mode {
    visibility: hidden;
}

.d-header-icons .icon img.avatar {
    max-width: none;
}

.category__image {
    transition: transform .25s ease-out;
    will-change: transform;
}

.container {
    max-width: 100%;
}

#main-outlet > .regular, .viewing-self, .user-main, #main-oudtlet > .list-container, .users-directory, .edit-category, .private_message, .user-content-wrapper  {
    padding: 20px;
    background-color: rgba(251, 250, 248, 0.95);
    border-radius: 20px;
}

.showExcerpt .topic-thumbnail {
    border-radius: 12px;
    overflow: hidden;
    margin-right: 14px;
}

.topic-list-item, tr {
    border-bottom: 0;
}

.tiles-style .topic-users .inline .avatar {
    margin-right: 0;
}

#list-area {
    margin-bottom: -1.5em;
}

.custom-search-banner {
    margin-top: 8em;
    margin-bottom: 4rem;
}

table.category-list > tbody > tr {
    height: 35em;
}

.category-list tbody .category {
    border-left: 0;
}

.above-main-container-outlet {
    .custom-featured-topics-wrapper thead {
        background-color: rgba(0, 23, 37, 1);
        border-left: rgba(0, 23, 37, 1) solid 1px ;
    }    
    .custom-featured-topics-wrapper tbody {
            border-top: 0;
    }
    .featured-topics {
    padding: 3em;
    background-color: rgba(251, 250, 248, 1);
    
    }
}
    

table.category-list.with-topics {
    margin: 0;
    tbody {
        border: 0;    
    }
    thead {
        background-color: rgba(0, 23, 37, 1);
        color: rgba(251, 250, 248, 1);
    }
    
}

.category-list th {
    padding: 12px 5px;
    color: rgba(251, 250, 248, 1);
    
}

div#main-container.container, #main-outlet > .list-controls {
    display: none;
}

#main-outlet-wrapper.wrap {
    max-width: fit-content;
    padding: 0;
}

@import "common/foundation/mixins";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$max-width: 1200px;

.display-search-banner {
  #main-outlet {
    padding-top: 0;
  }
}

.custom-search-banner {
  margin-top: 8em;
  margin-bottom: 4rem;
}

.background-img {
  margin: 1em;
  @if $background-image != "none" {
    background-image: url($background-image);
  } @else {
    background: none;
  }
  @if $tile-background_image == "true" {
    background-size: auto;
  } @else {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.custom-search-banner-wrap {
  box-sizing: border-box;
  position: relative;
  padding: 2.5em 0 3em;
  margin: 1em auto;
  @include breakpoint(tablet) {
    padding: 1em 8px 2em;
    margin-top: 0.5em;
  }

  > div {
    max-width: $max-width;
  }

  .search-menu {
    position: relative;
    display: flex;
    input[type="text"] {
      margin: 0;
      width: 100%;
      padding-right: 4em;
      background-color: #001725;
      color: #FBFAF8;
      padding-left: 2rem;
    }
  }

  .search-input {
    border: 0;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    .searching {
      // spinner
      top: 0.5em;
      right: 2.25em;
    }
  }

  .search-menu .search-input:focus-within {
    outline: 0;
  }

  h1 {
    //font-size: var(--font-up-6);
    //line-height: $line-height-medium;
    //@include breakpoint(tablet) {
    //  font-size: var(--font-up-4);
    //}
  }

  h1,
  p {
    text-align: start;
  }

  .search-icon {
    position: absolute;
    z-index: 2;
    order: 2;
    right: 0;
    background: transparent;
    .d-icon {
      color: #FBFAF8;
    }
    .discourse-no-touch & {
      &:hover {
        background: transparent;
        .d-icon {
          color: var(--primary-high);
        }
      }
    }
  }

  .search-context,
  .results {
    margin: 0 auto;
    max-width: $max-width;
  }

  .search-context {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 2.67em;
    display: inline-flex;
    align-items: center;
    label {
      margin-right: 1em;
    }
  }

  .results {
    box-sizing: border-box;
    background: var(--secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: $max-width;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 2.4em;
    right: 0;
    padding: 0.5em;
    @include breakpoint(mobile-extra-large) {
      width: 100%;
    }
    ul,
    ol {
      list-style-type: none;
      margin: 0;
    }
  }

  .searching a.show-advanced-search {
    display: none;
  }

  .search-link .d-icon {
    color: var(--primary-medium);
  }

  span.keyword {
    color: var(--primary);
  }
}


