{{#if shouldDisplay}}




    <div class="custom-search-banner relative mb-32">
        <svg class="absolute -right-72 -top-60" width="710" height="687" viewBox="0 0 710 687" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M642.221 105.957C807.985 215.515 628.053 566.351 543.765 627.632C468.294 682.486 405.85 710.124 255.332 662.82C104.792 615.516 93.4369 497.33 38.9011 413.358C-15.6348 329.387 -20.6253 186.376 74.6803 69.2893C169.986 -47.7759 476.456 -3.60153 642.221 105.957Z" fill="#E1EDE7"/>
        </svg>
        <div class="wrap custom-search-banner-wrap flex flex-wrap justify-around">
            <div class="flex-initial w-[671px] overflow-visible z-10">
                <h1 class="sm:text-7xl text-[13vw] font-explorer text-black tracking-wider font-normal">{{{theme-i18n
                        "search_banner.headline"}}}</h1>
                <svg width="100%" height="17" viewBox="0 0 671 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.43653 17C45.5674 11.7869 91.4007 9.35829 146.611 9.35829C189.146 9.35829 232.449 10.8262 274.326 12.2428C316.213 13.6619 377.708 14.4836 405.158 13.8863C432.609 13.2913 611.428 12.1672 625.047 12.1672C642.732 12.1672 657.18 11.1578 670.454 8.9901C671.24 7.79045 670.973 7.23207 670.881 7.03457C669.837 4.83276 663.14 2.20912 637.189 2.20912C629.034 2.20912 620.543 2.44808 613.051 2.66021C607.005 2.8309 601.784 2.97963 597.726 2.97963C593.941 2.97963 591.668 2.8504 590.403 2.56512C570.714 1.75559 549.936 1.36059 526.892 1.36059C491.768 1.36059 455.984 2.29446 421.382 3.19664C386.723 4.10126 370.733 2.97719 335.499 2.97719C324.478 2.97719 166.555 -3.53866e-08 106.59 -3.53866e-08C26.8652 -3.53866e-08 2.68675 4.91079 0.239358 11.0115C-0.43028 12.6842 0.306084 14.6982 2.43653 17Z"
                          fill="#F9D973"/>
                </svg>

            </div>
            <div class="flex flex-initial flex-col flex-wrap content-start w-[40rem] mt-14 gap-12 z-10">
                {{mount-widget widget="search-widget"}}
                <div class="flex flex-row gap-10 items-center">
                    <p class="font-semibold">{{theme-i18n "search_banner.or"}}</p>
                    {{mount-widget widget="create-topic"}}
                </div>
            </div>
        </div>

    </div>
{{/if}}



