{{#if shouldDisplay}}
    <div class="custom-search-banner flex align-center">
        <div class="wrap custom-search-banner-wrap flex flex-wrap md:gap-[10vw] gap:10">
            <h1 class="xl:text-[5vw] md:text-7xl text-[14vw] font-display text-black tracking-wider font-extrabold !leading-[1.2]">{{{theme-i18n
                    "search_banner.headline"}}}</h1>

            <div class="">
                {{mount-widget widget="search-widget"}}
                <div class="flex flex-row gap-10 items-center">
                    <p>{{theme-i18n "search_banner.or" }}</p>
                    {{mount-widget widget="create-topic"}}
                </div>
            </div>
        </div>

    </div>
{{/if}}


